.overview{
    margin-top: 20px;
    padding-left: 20px;
    border-radius: 10px;
    margin-right: 50px;
    height: 620px;
    width: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
h2{
    color: #474748;
}
.post_fil{
    display: flex;
    gap: 20px;
    align-items: center;
}
.post_fil select{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(165, 165, 165, 0.664);
}
.stats {
    display: flex;
    gap: 20px;
    padding-right: 30px;
}
.stat-card {
    width: 100%;
    background: linear-gradient(135deg, #bfdbfe, #4297ff);
    color: black;
    border-left: black solid 8px;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    cursor: default;
    /* padding-right: 100px; */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease,border-left 0.3s ease;
}
.stat-card h2{
    color: black;
}
.stat-card:hover{
    transform: scale(1.05);
    border-left: black solid 15px;
}
.stat-card h2 {
    font-size: 16px;
    margin: 0;
}
.stat-card p {
    font-size: 24px;
    font-weight: 600;
    margin: 10px 0 0;
}
.allpost{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1200px) {
    .allpost {
        grid-template-columns: repeat(3, 1fr); /* 3 postcards per row for smaller screens */
    }
}

@media (max-width: 800px) {
    .allpost {
        grid-template-columns: repeat(2, 1fr); /* 2 postcards per row for tablets */
    }
}

@media (max-width: 500px) {
    .allpost {
        grid-template-columns: 1fr; /* 1 postcard per row for mobile */
    }
}
.postcard{
    display: flex;
    text-decoration: none;
    color: black;
    flex-direction: column;
    background-color: #e2eefe;
    width: 300px;
    height: 440px;
    padding-bottom: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 20px;
    border-radius: 10px;
    transition: transform 0.7s ease;
    cursor: default;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
/* cae0fc
f1f7ff */
.postcard:hover{
    transform: scale(1.02);
}
.postcard img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.postdetails{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.postdetails p{
    display: flex;
    gap: 5px;
    font-weight: 600;
}
.position{
    display: flex;
    justify-content:center;
    font-size: 18px;
    font-weight: 900;
    background-color: #f1f7ff;
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(217, 217, 217, 0.664);
}
.postdetails span{
    font-weight: 400;
}
.image{
    display: flex;
    position: relative;
}
.image a{
    text-decoration: none;
    color: black;

}
.top-left-link {
    position: absolute;
    bottom: 0px;
    width: 100%; 
    background-color: #007bff; 
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    opacity: 0;
    transition: opacity 0.3s ease; 
    cursor: pointer;
}

.postcard:hover .top-left-link {
    opacity: 1; 
}


/* create button */
.posts{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.ss_create{
    width: 200px;
}
.ss_create a{
    text-decoration: none;
}
.ss_create button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 170px;
    background: #008cff;
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(160, 160, 160, 0.25);
    transition: transform 0.3s ease, background 0.3s ease;
}
.ss_create button:hover{
    transform: scale(1.05);
}
.ss_create i{
    background-color: #ffffff;
    padding: 4px 4px;
    border-radius: 100%;
    color: #007bff;
}