.m_main{
    background: #E9EDFF;
    width: 1100px;
    height: 570px;
    padding: 30px;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 30px;
}
.m_container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    color: black;
    height: 50px;
    width: 1000px;
    background-color: white;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px rgba(211, 211, 211, 0.25);
    cursor: pointer;
    transition: transform 0.7s ease;
}
.m_de{
    display: flex;
}
.m_container:hover{
    transform: scale(1.02);
}
.m_content{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.m_name{
    font-size: 15px;
    font-weight:500;
}
.m_detail{
    font-size: 10px;
}
.m_time{
    font-size: 10px;
}
.time_div{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 20px;
    border: #A9A9A9 1px solid;
    padding-top: 5px ;
    padding-bottom: 5px ;
    padding-right: 10px ;
    padding-left: 10px ;
    border-radius: 5px;
}
.time_div:hover{
    border: #000000 2px solid;
}
.time_div i{
    font-size: 20px;
}