.m_main {
  background: #e9edff;
  width: 1100px;
  height: 570px;
  padding: 30px;
  border-radius: 10px;
  margin-right: 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.m_header {
  display: flex;
  justify-content: space-between;
}
.sender {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sender img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
.m_details {
  display: flex;
  flex-direction: column;
}
.m_name {
  font-size: 20px;
  font-weight: 700;
}
.m_detail {
  font-size: 10px;
}
.m_timedate {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: small;
}
.backbtn {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: black;
  transition: color 0.5s;
}
.backbtn i {
  font-size: 30px;
}
.backbtn:hover {
  color: red;
}
.m_content {
  background-color: white;
  border-radius: 7px;
  padding: 10px;
  max-height: 480px;
  overflow-y: auto;
}
.topic {
  display: flex;
  justify-content: center;
}
h2 {
  font-size: 20px;
  font-weight: 700;
}
.message {
  margin-left: 40px;
}
