.full-s{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000;
}
.main_container{
    background: #E9EDFF;
    padding: 5px;
    height: 80vh;
    width: 75%;
    margin: 8% 19%;
    border-radius: 10px;
}
.sc_container{
    text-decoration: none;
    color: black;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 10px;
    padding: 5px;
    gap: 5px;
    transition:color 0.5s ease;
    cursor: pointer;
}
.sc_container:hover{
    color: #f44336;
}
.sub_container{
    background-color: white;
    margin:2% auto;
    padding: 5px;
    border-radius: 8px;
}
.display-details{
    display: flex;
}

.image{
    overflow-y: hidden;
    width: 50%;
}
.image img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.inform {
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    width: 50%;
    box-shadow: 1px -1px 1px rgba(28, 28, 28, 0.25); /* Horizontal and vertical offset to right and bottom */
    border-top-right-radius: 10px;
}
.inform span{
    margin-left: 5px;
    font-weight: normal;
}
.inform i{
    height: fit-content;
    margin-right: 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 100%;
}
.fa-pen:hover{
    background-color: #cfaf12;
}
.fa-trash:hover{
    background-color: #f44336;
}
.ed-del{
    display: flex;
    gap: 5px;
    margin-top: 20px;
}

.Qua-des{
    display: flex;
    gap: 30px;
    box-shadow: 1px 1px 1px 0px rgba(28, 28, 28, 0.25);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Qualifications{
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.q-details{
    max-height: 200px;
    overflow-y: auto;
}
.Description{
    width: 50%;
    padding: 15px;
    display: flex;
    flex-direction: column;
}
.d-details{
    max-height: 200px;
    overflow-y: auto;
}

.modal { /* Hidden by default */
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.modal-content {
    width: 1000px;
    height: 500px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
    overflow-y: auto;
    margin:12% 22%;
    transform: scale(0); /* Initial scale for zoom-in effect */
    opacity: 0; /* Initial opacity */
    animation: zoomIn 0.3s forwards;
}

@keyframes zoomIn {
    0% {
        transform: scale(0); /* Start with no size */
        opacity: 0; /* Fully transparent */
    }
    100% {
        transform: scale(1); /* Full size */
        opacity: 1; /* Fully visible */
    }
}

.position{
    display: flex;
    align-items: center;
    gap: 20px;
}
.position select{
    border-radius: 10px;
    padding: 10px;
    width: 250px;    
}
.details{
    display: flex;
    gap: 50px
}
.details textarea{
    border-radius: 10px;
    padding: 10px;
    width: 400px;
    height: 100px;
    resize: none;
}
.perioddeadline{
    display: flex;
    gap: 20px;
    align-items: center;
}
.period{
    display: flex;
    gap: 20px;
    align-items: center;
}
.period input{
    border-radius: 10px;
    padding: 10px;
    width: 150px;
}
.interns{
    display: flex;
    gap: 20px;
    align-items: center;
}
.number-input{
    display: flex;
    border: black solid 1px;
    border-radius: 10px;
}
.number-input input{
    padding: 10px;
    width: 50px;
    border: none;
    text-align: center;
}
.fbtn{
    padding: 10px;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sbtn{
    padding: 10px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.internt{
    display: flex;
    gap: 20px;
    align-items: center;
}
.addimg{
    display: flex;
    gap: 20px;
    align-items: center;
}
.sc_btn{
    position: absolute;
    right: 20px;
    display: flex;
    gap: 20px;
}
.cancel_btn{
    height: 40px;
    width: 130px;
    border-radius: 8px;
    border: none;
    background-color: white;
    border: black solid 1px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    transition:transform 0.3s ease;
    cursor: pointer;
}
.cancel_btn:hover{
    transform: scale(1.05);
}
.sub_btn{
    height: 40px;
    width: 130px;
    border-radius: 8px;
    border: none;
    background-color: #007bff;
    color: white;
    font-weight: bold;
    transition:background 0.3s ease;
    cursor: pointer;
}
.sub_btn:hover{
    background-color: #005fc4;
}