

/* *********** Students Requests ************** */

.sr_main{
    background: linear-gradient(135deg, #e5e7eb, #bfdbfe);
    width: 1050px;
    padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sr_search{
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}
.sr_search-container{
    padding-left: 40px;
    width: 200px;
}
.sr_search-container input{
    border: none;
    height: 40px;
    width: 250px;
    border-radius: 10px;
}
.sr_search-container i{
    position: absolute;
    margin-top: -28px;
    margin-left: 220px;
    cursor: pointer;
}
.sr_filter-container{
    padding-left: 40px;
    width: 200px;
}
.sr_filter-container select{
    border: none;
    height: 40px;
    width: 120px;
    padding-left: 10px;
    border-radius: 10px;
}
.sr_t{
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.sr_table{
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(160, 160, 160, 0.25);
    width: 1000px;
    height: 520px;
    border-radius: 10px;
}
.sr_sr{
    display: flex;
    gap: 30px;
    align-items: center;
    padding-left: 50px;
    padding-top: 10px;
}
.sr_sr select{
    height: 40px;
    width: 250px;
    border: 1px solid rgb(164, 164, 164);
    border-radius: 10px;
}
.sr_table_t{
    width: 100%;
}

.student-table {
    width: 100%;
    border-spacing: 0 5px;
}

.student-table th, .student-table td {
    text-align: center;
}

.student-table th {
    margin: 0;
    padding: 0;
    background-color: #d7d7d7;
    font-weight: 600;
    color: #000000;
}
.student-table tbody {
    display: block;
    max-height: 340px; /* Adjust this value as needed */
    overflow-y: auto;
    width: 100%;
}

.student-table thead,
.student-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}
.action-select {
    width: 80%;
    padding: 5px;
    font-size: 14px;
    outline: none;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #ffffff;
    color: #495057;
}

.view-profile-btn {
    width: 80%;
    padding: 8px;
    font-size: 14px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.view-profile-btn:hover {
    background-color: #0056b3;
}


/* *****Schedule *************** */
.s_background{
    padding-top: 20px;
    height: 500px;
    overflow-y: auto;
}
.ss_create{
    width: 200px;
}
.ss_create button{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    border-radius: 10px;
    height: 45px;
    width: 170px;
    background: linear-gradient(135deg, #6ba2dc, #008cff);
    color: white;
    cursor: pointer;
    box-shadow: 1px 1px 1px 1px rgba(160, 160, 160, 0.25);
    transition: transform 0.1s ease, background 0.3s ease;
}
.ss_create button:hover{
    background: linear-gradient(135deg, #008cff, #6ba2dc);
    transform: scale(1.05);
}
.ss_create i{
    background-color: #ffffff;
    padding: 4px 4px;
    border-radius: 100%;
    color: #007bff;
}
.s_table{
    background-color: white;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    height: fit-content;
    width: 800px;
    margin-left: 60px;
    padding: 10px 10px;
    border-radius: 10px;
    display: flex;
    transition: transform 0.7s ease;
    margin-bottom: 20px;
}
.s_table:hover{
    transform: scale(1.05);
}
.s_table p{
    font-size: large;
}
.s_table span{
    font-weight: bold;
}
.s_delnedit{
    width: 45%;
    display: flex;
    justify-content: right;
    align-items: end;
    gap: 20px;
    padding: 20px;
}
.fa-pencil-alt{
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
}
.fa-pencil-alt:hover{
    background-color: rgb(0, 176, 0);
}
.fa-trash-alty{
    padding: 8px;
    border-radius: 100%;
    cursor: pointer;
}
.fa-trash-alty:hover{
    background-color: red;
}
/* ***Schedule Create**** */
.sc_main{
    background: linear-gradient(135deg, #e5e7eb, #bfdbfe);
    width: 1050px;
    padding: 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.sc{
    padding-top: 5px;
}
.sc_container{
    display: flex;
    align-items: center;
    width: fit-content;
    gap: 5px;
    padding-left: 40px;
    transition:color 0.5s ease;
    cursor: pointer;
}
.sc_container:hover{
    color: #006cdf;
}
.sc_background{
    padding-top: 20px;
    padding-left: 20px;
    height: 500px;
    /* overflow-y: auto; */
}
.sc_iner{
    width: 800px;
    height: 500px;
    margin-left: 40px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px 10px;
    overflow-y: auto;
}
.sc_pos{
    display: flex;
    align-items: center;
    gap: 20px;
}
.sc_pos select{
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    border: solid 2px rgb(0, 110, 255);
}
.sc_dateNdur{
    display: flex;
    justify-content: space-between;
}
.sc_date{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sc_date input{
    border-radius: 5px;
    font-size: large;
    font-style: normal;
    padding: 10px;
    width: 150px;
    border: solid 2px rgb(223, 223, 223);
}
.sc_dur{
    display: flex;
    align-items: center;
    gap: 10px;
}
.sc_dur select{
    border-radius: 5px;
    font-size: large;
    font-style: normal;
    padding: 10px;
    width: 100px;
    border: solid 2px rgb(223, 223, 223);
}
.sc_time{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.sc_tbtn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    height: 40px;
    width: 130px;
    border: solid 2px #F49139;
    border-radius: 8px;
    background-color: white;
    color: #f4b400;
    transition:color 0.3s ease,background 0.3s ease,transform 0.3s ease;
    cursor: pointer;
}
.sc_tbtn:hover{
    background-color: #F49139;
    color: #000000;
}
.sc_time-slots{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}
.time-slot{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    transition: opacity 1s ease, height 1s ease;
}
.time-slot.show {
    opacity: 1;
    height: 40px; /* Adjust based on your design */
}
.time-slot input{
    border-radius: 5px;
    font-size: large;
    font-style: normal;
    padding: 10px;
    width: 150px;
    border: solid 2px rgb(223, 223, 223);
}
.time-slot button{
    border: none;
    background-color: white;
}
.timedel{
    font-size: large;
    cursor: pointer;
    transition:color 0.3s ease;
}
.timedel:hover{
    color: red;
}
.sc_btn{
    display: flex;
    justify-content: end;
}
.sc_btn button{
    border: none;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    font-weight: 600;
    background: linear-gradient(135deg, #6ba2dc, #008cff);
    box-shadow: 1px 1px 1px 1px rgba(160, 160, 160, 0.25);
    transition: transform 0.1s ease, background 0.3s ease;
    cursor: pointer;
}
.sc_btn button:hover{
    transform: scale(1.05);
    background: linear-gradient(135deg, #008cff, #6ba2dc);
}



