.main-content{
    position: relative; /* Ensures the .backreq is positioned relative to this container */
    padding: 30px; /* Add padding to avoid overlap with other content */
    height: 100%;
}
.progress-report-table-div {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.progress-report-table-background {
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.progress-report-table {
    width: 100%;
    border-spacing: 0 5px;
}
.progress-report-table th{
    text-align: center;
    padding: 10px 5px;
}
.progress-report-table td{
    text-align: center;
    padding: 2px 5px;
    
}
.progress-report-table th {
    background-color: #d7d7d7;
    font-weight: bold;
    color: #000;
    padding: 20px 5px;
}

.progress-report-table tbody {
    display: block;
    max-height: 340px;
    overflow-y: auto;
}

.progress-report-table thead,
.progress-report-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.pending, 
.rejected,
.recruit {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.recruit {
    color: green;
    border: 2px solid green;
}
.rejected {
    color: #E74C3C;
    border: 2px solid #E74C3C;
}
.recruit:hover {
    background-color: green;
    color: white;
}
.rejected:hover {
    background-color: #E74C3C;
    color: white;
}
.pending {
    color: orange;
    border: 2px solid orange;
}
.pending:hover {
    background-color: orange;
    color: white;
}

