.main-content{
    position: relative;
    padding: 20px;
    height: 100%;
}
.complaint-navbar {
    display: flex;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 20px;
    margin-bottom: 20px;
}
.complaint-filter-container{
    margin-right: 910px;
}
.complaint-filter-container select{
    border: none;
    height: 40px;
    width: 120px;
    padding-left: 10px;
    border-radius: 10px;
}

.add-complaint button {
    padding: 10px 20px;
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.add-complaint button:hover {
    background-color: #2980B9;
}

.complaint-table-div {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.complaint-table-background {
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

}

.complaint-table {
    width: 100%;
    border-spacing: 0 5px;
}
.complaint-table th{
    text-align: center;
    padding: 10px 5px;
}
.complaint-table td{
    text-align: center;
    padding: 2px 5px;
    
}
.complaint-table th {
    background-color: #d7d7d7;
    font-weight: bold;
    color: #000;
    padding: 20px 5px;
}
complaint
.complaint-table tbody {
    display: block;
    max-height: 340px;
    overflow-y: auto;
}

.complaint-table thead,
.complaint-table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.reviewed, .not-reviewed {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
    padding: 2px;
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.reviewed {
    color: green;
    border: 2px solid green;
}
.not-reviewed {
    color: orange;
    border: 2px solid orange;
}
.reviewed:hover {
    background-color: green;
    color: white;
}
.not-reviewed:hover {
    background-color: orange;
    color: white;
}

