/* conferm mode */
.updatemodal { 
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    z-index: 1000;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

/* Modal Content */
.updatemodal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    width: 30%;
    text-align: center;
    border-radius: 8px;
    transform: scale(0); /* Initial scale for zoom-in effect */
    opacity: 0; /* Initial opacity */
    animation: zoomIn 0.3s forwards;
}

/* Zoom-In Animation */
@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Buttons Container */
.updatemodal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

/* Yes and No Buttons */
.updateyes-btn, .updateno-btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* Yes Button Style */
.updateyes-btn {
    background-color: #f44336;
    color: white;
}

/* No Button Style */
.updateno-btn {
    background-color: #4CAF50;
    color: white;

}

/* Button Hover Effect */
.updatemodal-buttons button:hover {
    opacity: 0.8;
}