
.dashboard-cards {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.card {
    background-color: #ECF0F1;;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);    
    flex: 1;
    transition: all 0.3s ease;
}

.card h3 {
    font-size: 20px;
    color: black;
    margin-bottom: 10px;
}
.card p {
    font-size: 16px;
    margin-bottom: 20px;
    color: red;
}
.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.recent-activity {
    background-color: #F9F9F9;
    padding: 10px;
    border-radius: 8px;
    margin-top: 30px;
    
}
.recent-activity h3 {
    font-size: 24px;
    color: black;
    margin-bottom: 15px;
}
.recent-activity ul {
    list-style-type: none;
    padding: 0;
}
.recent-activity ul li {
    margin: 12px 0;
    font-size: 16px;
    color: #34495E;
    display: flex;
    align-items: center;
}

h1, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

ul {
    list-style-type: none;
}

button{
    padding: 10px 20px;
    background-color: #3498DB;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
button:hover{
    background-color: #2980B9;
}
button a{
    color: white;
    text-decoration: none;
}
