.dashboard-main{
    background: #E9EDFF;
    padding: 30px;
    border-radius: 10px;
    margin-right: 50px;
    margin-top: 30px;
}
.dashboard-main h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.dashboard-main #greeting {
    font-size: 18px;
    color: #007bff;
    margin-right: 10px;
    display: inline;
}.dashboard-allsummery {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stats {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.stat-card {
    flex: 1;
    background: linear-gradient(135deg, #FFC371, #FF5F6D);
    color: #fff;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.stat-card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.stat-card a {
    text-decoration: none;
    color: #fff;
}

.stat-card h2 {
    font-size: 18px;
    margin: 0;
    font-weight: 600;
}

.stat-card p {
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px;
}
.profile-summery {
    background-color: #E9EDFF;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-summery h2 {
    font-size: 18px;
    color: #333;
    margin: 5px 0;
}

.profile-summery h2 span {
    font-weight: bold;
    color: #007bff;
}