
.sidebar {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:flex-start;
    position: fixed;
    padding: 20px 15px;
    background-color: rgb(10, 10, 30);
  }
  
  .profile {
    margin-bottom: 0;
  }
  
  .profile img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: 2px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .menu ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    gap: 12px; /* Space between each list item */
    text-align: center;
    margin-top: 50px; /* Adjust this value to control the distance from the profile picture */
  }
  
.menu  ul li {
    position: relative;
    padding: 10px 0;
  }
  
  .menu  ul li:hover i {
    color: white;
    transform: scale(1.4);
  }
  
  .menu  ul li.active i {
    color: rgb(187, 189, 215);
    transform: scale(1.4);
  }
  
  .menu  ul li i {
    color: white;
    transition: all 0.3s ease-in-out;
  }
  
  .menu  ul li::after {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 120%; /* Adjust tooltip positioning */
    transform: translateY(-50%);
    background-color: white; /* White background for tooltip */
    color: black; /* Black text for contrast */
    padding: 8px 12px; /* Padding for a clean look */
    border-radius: 20px; 
    white-space: nowrap;
    font-size: 14px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    opacity: 0; 
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
    margin-left: 10px;
  }
  
  
  /* Show tooltip and arrow on hover */
  .menu  ul li:hover::after,
  .menu  ul li:hover::before {
    opacity: 1;
    transform: translateY(-50%) translateX(0); /* Smooth appearance */
  }
  
  .logout {
    position: relative; /* Required for ::after to position correctly */
    margin-top: 80px;
    display: flex; /* To align icon properly */
    justify-content: center;
    align-items: center;
    text-decoration: none;
  }
  
  .logout i {
    color: white;
    transition: all 0.3s ease-in-out; /* Smooth hover effects */
  }
  
  .logout:hover i {
    transform: scale(1.4);
  }
  
  .logout::after {
    content: attr(data-title);
    position: absolute;
    top: 50%;
    left: 120%; /* Adjust tooltip positioning */
    transform: translateY(-50%);
    background-color: white;
    color: black;
    padding: 8px 12px;
    border-radius: 20px;
    white-space: nowrap;
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    z-index: 1;
    margin-left: 10px;
  }
  
  .logout:hover::after {
    opacity: 1;
    transform: translateY(-50%) translateX(0);
  }
  
  .menu  ul li.active i {
    color: #bbbddd;
    transform: scale(1.4);
    transition: all 0.3s ease-in-out;
  }
  