.sidebar {
    position: fixed; /* Fix the sidebar in place */
    top: 0; /* Align it to the top */
    left: 0; /* Align it to the left */
    height: 100vh; /* Ensure it spans the full viewport height */
    width: 17%; /* Keep the original width */
    padding-left: 20px;
    transition: width 0.3s ease;
    background-color: #f9f9f9; /* Add a background color for better visibility */
    z-index: 1000; /* Ensure it stays above other content */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Optional for a subtle shadow effect */
}



.logodiv{
    display: flex;
    justify-items: center;
    padding-bottom: 30px;
}
.logo{
    margin-right: auto;
    margin-left: auto;
    height: 120px;
    width: 150px;
}
.sidebaroption{
    background: linear-gradient(135deg, #364CC6, #00032e);
    height: 630px;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 10;
    width: 90%;
}
.option{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    transition: background-color 0.1s, color 0.1s;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
}
.option i{
    font-size: 15px;
    margin-left: 25px;
    color: white;
}
.option p {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: white; 
    width: fit-content;
}
.option:hover {
    background-color: white; 
}

.option:hover i,
.option:hover p {
    color: black; 
}
.option div{
    width: 100%;
}
.logout{
    margin-top:50px ;
}


.option.active {
    background-color: white; /* Change the background color of the active item */
}

.option.active i,
.option.active p {
    color: black; /* Change the text and icon color for the active item */
}
