.sidebar{
    height: 90vh;
    width: 235px;
    padding-left: 10px;
    padding-right: 5px;
    transition: width 0.3s ease;
    position: relative;
  
}


.logodiv{
    display: flex;
    justify-items: center;
}
.logo{
    margin-right: auto;
    margin-left: auto;
    height: 120px;
    width: 120px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.sidebaroption{
    background: linear-gradient(135deg, #364CC6, #00032e);
    height: 100%;
    border-radius: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    z-index: 10;
    margin-top: 50px;
}
.option{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-top: 10px;
    border-radius: 10px;
    transition: background-color 0.1s, color 0.1s;
    cursor: pointer;
    text-decoration: none;
    padding: 10px;
}
.option i{
    font-size: 15px;
    margin-left: 25px;
    color: white;
}
.option p {
    font-weight: bold;
    text-align: center;
    font-size: 15px;
    color: white; 
    width: fit-content;
}
.option:hover {
    background-color: white; 
}

.option:hover i,
.option:hover p {
    color: black; 
}
.option div{
    width: 100%;
}
.logout{
    margin-top:50px ;
}


.option.active {
    background-color: white; /* Change the background color of the active item */
}

.option.active i,
.option.active p {
    color: black; /* Change the text and icon color for the active item */
}
