.main-content {
    width: 95%;
    margin-left: auto; /* Ensures alignment accounting for sidebar */
    padding: 20px; /* Add padding for better spacing */
    box-sizing: border-box;
}

.header-left h1 {
    font-size: 2rem; /* Slightly larger font for better hierarchy */
    font-weight: 600;
    margin-left: 20px;
    color: #2b237c;
}

.header-right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 20px; /* Space from the edge */
}

.header-right img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid #ddd;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.list-header h2 {
    font-size: 24px;
    color: #2b237c;
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.search-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.search-box input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 280px; /* Slightly wider for better usability */
    font-size: 14px;
    box-sizing: border-box;
}

.search-box button {
    padding: 10px 20px; /* More balanced size */
    border-radius: 5px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #0056b3;
    color: #fff;
    transition: background-color 0.3s;
}

.search-box button:hover {
    background-color: #3b74d1;
}

.tabs {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}


.company-list {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 80%;
    height: calc(100vh - 150px);
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); /* Professional shadow */
    height: max-content;
}


table {
    width: 100%;
    border-collapse: collapse; /* Remove double borders */
    background-color: #fff;
}

table th, table td {
    text-align: left; 
    padding: 10px; 
    border-bottom: 1px solid #ddd; 
    font-size: 14px; 
    color: #333;
    padding-bottom: 20px;
}

table th {
    background-color: #f4f4f4; /* Light gray header background */
    font-weight: bold; /* Emphasize header */
}

table tbody tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

table tbody tr:hover {
    background-color: #f1f1f1; 
}

.view-btn {
    background-color: #0056b3; /* Simple blue button */
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    cursor: pointer;
}

.view-btn:hover {
    background-color: #3b74d1; /* Darker blue on hover */
}
